a{
			text-decoration: none;
				/*清除点击链接和文本框对象时默认的灰色半透明覆盖层(iOS)或者虚框(Android)*/
			-webkit-tap-highlight-color:rgba(0,0,0,0);
}
input{
			-webkit-tap-highlight-color:transparent;
			-webkit-appearance: none;
				/*消除输入框和按钮的原生外观，在iOS上加上这个属性才能给按钮和输入框自定义样式*/ 
}
a{
	color: #000;
}

.top{
	position: fixed;
	top: 0;
	left: 0;
	height: 1.76rem;
	width: 100%;
	background: #fabc09;
	z-index: 10;
}
.sort{
	width: 0.85rem;
	height: 1.325rem;
	background: url(../img/sort.png);
	background-size: 0.85rem 1.325rem;
	margin: .2rem .52rem .16rem .48rem;
}
.search{
	width: 10.7rem;
	height: 1.25rem;
	padding-left: 1.25rem;
	border-radius: 0.15rem;
	font-size: 0.5rem;	
	color: #ada09a;
	background: #fff1cc;
	margin-top: 0.25rem;
}
.top_mid{
	position: relative;
	height: 1.76rem;
}
.s_icon{
	position: absolute;
	top: 0.55rem;
	left: 0.4rem;
	display: block;
	width: 0.6rem;
	height: 0.6rem;
	background: url(../img/seicon.png);
	background-size: 0.6rem 0.6rem;
}
.shopcar{
	width: 1.25rem;
	height: 1.4rem;
	background: url(../img/shopcar.png);
	background-size: 1.25rem 1.4rem;
	margin: 0.25rem 0 0 0.4rem;
}
.picwrap{
	width: 100%;
	overflow:hidden;
	padding-top: 1.76rem;
	position: relative;
}
.banner{	
	width: 100%;
	height: 5.9rem;
	overflow: hidden;
}
.banner a{
	display: block;
	float: left;
}
.banner img{
	width: 16rem;
	height: 5.9rem;
}
.buts{
	margin: 0;
	position: absolute;
	right: .8rem;
	bottom: .5rem;

}
.buts span.active{
	 background-color: #ffc001;; 
}
.buts span{
	position: relative;
	float: left;
	z-index: 10;
	width: .24rem;
	height: .24rem;
	margin-right: 0.15rem;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.8);
	display: inline-block;
}
.nav li{
	width: 3.2rem;
	height: 2.5rem;
	float: left;	
	font-size: 0.45rem;
	color: #7e7e7e;
	padding-top: 0.5rem;
	margin-bottom: 0.125rem;
}
.nav img{
	display: block;
	width: 1.7rem;
	height: 1.75rem;
	margin: 0 auto;	
}
.tille{
	width: 3.2rem;
	height: 0.45rem;
	line-height: 0.45rem;
	margin: 0.325rem 0 0.125rem 0;
	text-align: center;
}
nav a{
	display: block;
	width: 3.2rem;
	height: 2.5rem;
}
.toutiao{
	margin-top: 0.925rem;
}
.t_l{
	width: 3.125rem;
	height: 1.25rem;
	float: left;
}
.t_l img{
	width: 3.125rem;
	height: 1.25rem;
}
.line{
	width: 1px;
	height: .85rem;
	background: #dbdbdb;
	float: left;
	margin: 0.25rem 0 0 0.4rem;
}
.t_r{
	height: 1.25rem;	
}
.t_r li{
	padding-left: 1.375rem;
	height: 0.5rem;
	font-size: 0.5rem;
	color: #000;
	margin-bottom: 0.15rem;
	position: relative;
}
.t_r i{
	position: absolute;
	top: 0.2rem;
	left: 0.9rem;
	display: block;
	width: 0.2rem;
	height: 0.2rem;
	background: url(../img/dian.jpg);
	background-size: 0.2rem 0.2rem;
}
.l_b a{
	color: #adadad;
}
.place{
	height: 0.5rem;
	background: #f2f2f2;
	margin-top: 0.5rem;
}
.place2{
	height: 0.5rem;
	background: #f2f2f2;
	
}
.logo{
	margin-left: 0.45rem;
	height: 1rem;
	width: 2.9rem;
	margin-top: 0.35rem;
}
.logo img{
	height: 1rem;
	width: 2.9rem;
}
.q_top{
	position: relative;
	height: 1.7rem;
}
.time{
	color: #f94548;
	font-size: 0.4rem;
	height: 1.7rem;
	line-height: 2rem;
	margin-left: 0.4rem;
}
.t_con{
	
	height: 1.7rem;
	margin-left: 0.25rem;
}
.t3,.t2,.t1{
	font-size: 0.4rem;
	color: #000000;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 0.125rem;
	border: 3px solid #000000;
	font-family: arial;
	margin-top: 0.7rem;
}
.t4{
	line-height: 1.8rem;
	font-size: 0.7rem;
}
.t3{
	border-color: #f44d5e;
	color: #f44d5e;

}
.t_3{
	position: absolute;
	right: 0.4rem;
	top: 0.7rem;
}
.miao{
	display: block;
	height: 0.625rem;
	width: 2.15rem;
	background: #ffc001;
	border-radius: 0.3rem;	
	font-size: 0.4rem;
	text-align: center;
	line-height: 0.625rem;
}
.m1{
	float: left;	
	margin-left: 0.1rem;	
	height: 0.625rem;
	width: 0.325rem; 
	background: url(../img/m1.jpg);
	background-size:0.325rem 0.625rem;
}
.q_m li{
	float: left;
	margin-right: 0.2rem;	
	overflow: hidden;
}.q_m a{
	display: block;
}
.q_m img{
	width: 4.7rem;
	height: 3.5rem;
	border:  1px solid #dcdcdc;
}
.p_1{
	display: block;
	font-family: arial;
	margin-left: 0.4rem;
    font-size: 0.52rem;
    color: #d00;
}
.q_m{
	overflow: hidden;
	
}
.prices_t{
	
}
.p0{
	font-size: 0.48rem;
	color: #d00;
}
.prices_m{
	margin-left: 0.4rem;
    font-size: 0.36rem;
    color: #999;
    text-decoration: line-through;
    margin-top: 0.125rem;
}
.prices{
	position: relative;
	height: 1.5rem;
	background: #dcdcdc;
}
.sale{
	display: block;
	position: absolute;
	top: -0.12rem;
	right: 0.1rem;
	height: 1.6rem;
	width: 1.6rem;
	background: url(../img/red.png);
	background-size: 1.6rem 1.6rem;
	color: #FFFFFF;
	
}
.s1{
	float: left;
	margin-left: 0.18rem;
	font-size: 0.6rem;
	margin-top: 0.1rem;	
}
.s2{
	float: left;
	font-size: 0.48rem;
	margin-top: 0.2rem;
}
.s3{
	float: left;
	font-size: 0.36rem;
	margin-top: 0.25rem;
}
.v5 li{
	float: left;
	border: 0.1rem solid #f2f2f2;
	margin-left: -0.13rem;
	margin-top: -0.1rem;
}
.v1 img,.v2 img{
	width: 7.975rem;
	height: 6.4rem;
}
.v3 img,.v4 img{
	width: 7.975rem;
	height: 5.15rem;
}
.v5 .v2,.v5 .v4{
	border-right: none;
}
.j_top{
	height: 1.3rem;
	color: #fa4568;
	font-family: "宋体";
	font-size: 0.6rem;
	text-align: center;
	line-height: 1.3rem;
}
.t_top{
	height: 1.3rem;
	color: #5ea326;
	font-family: "宋体";
	font-size: 0.6rem;
	text-align: center;
	line-height: 1.3rem;
}
.h_top{
	height: 1.3rem;
	color: #59c3c3;
	font-family: "宋体";
	font-size: 0.6rem;
	text-align: center;
	line-height: 1.3rem;
}
.p_top{
	height: 1.3rem;
	color: #8376bb;
	font-family: "宋体";
	font-size: 0.6rem;
	text-align: center;
	line-height: 1.3rem;
}
.a_top{
	height: 1.3rem;
	color: #cba888;
	font-family: "宋体";
	font-size: 0.6rem;
	text-align: center;
	line-height: 1.3rem;
}
.r_top{
	height: 1.3rem;
	color: #68b6ff;
	font-family: "宋体";
	font-size: 0.6rem;
	text-align: center;
	line-height: 1.3rem;
}
.j1 img{
	width: 7.95rem;
	height: 8.55rem;
	border-right: 2px solid #eee;
}
.j_line{
	height: 2px;
	width: 100%;
	background: #f2f2f2;
}
.j22 img{
	width: 7.975rem;
	height: 3.05rem;
	border-bottom: 2px solid #eee;
}
.j3 img{
	width: 3.95rem;
	height: 5.4rem;
	border-right: 2px solid #eee;
}
.j4 img{
	width: 3.95rem;
	height: 5.4rem;
}
.ad img{
	width: 16rem;
	height: 4.25rem;
}
.t11 img{
	display: block;
	width: 7.95rem;
	height: 6.15rem;
	border-right: 2px solid #eee;
}
.t22 img{
	display: block;
	height: 3.05rem;
	width: 7.95rem;
}
.t33 img{
	display: block;
	height: 3.05rem;
	width: 7.95rem;
}
.t_line{
	width: 2px;
	height: 100%;
	background: #f2f2f2;
}

.t10,.t5,.t6,.t7,.t8,.t9{
	float: left;
	border-bottom: 2px solid #eee;
	
}
.t10,.t6,.t8
{
	border-right: 2px solid #eee;
}
.t_m img{
	width: 7.95rem;
	height: 3.05rem;
}
.h11 img,.h22 img{
	height: 6.4rem;
	width: 7.975;
}
.h22{
	margin-left: 0.05rem;
}
.h3 li{
	float: left;
}
.h3 li img{
	width: 5.275rem;
	height: 5.1rem;
}
.p1 img{
	width: 7.9rem;
	height: 6.15rem;
}
.p2 img,.p3 img{
	width: 4rem;
	height: 6.15rem;
}
.p2{
	border-right: 0.05rem solid #eee;
}
.r_l img{
	width: 7.95rem;
	height: 6.15rem;
	border-right: 0.05rem solid #ddd;

}
.s22 img,.s33 img{
	width: 7.95rem;
	height: 3.05rem;
	
}
.s22{
	border-bottom: 0.05rem solid #ddd;
}
.a_m{
	height: 8.4rem;
	padding: 0.5rem 0.4rem 0 0.4rem;
	
}
.a1 img{
	height: 1.75rem;
	width: 1.75rem;
}
.a2{
	padding-left: 0.4rem;
    height: .8rem;
    line-height: .8rem;
    font-size: .6rem;
    color: #333;
}
.a4{
	font-size: 0.48rem;
    color: #999;
}
.a5 img{
	width: 4.8rem;
	height: 4.8rem;
	border: 1px solid #eee;
}
.a7 img,.a8 img{
	width: 2.375rem;
	height: 2.375rem;
	border: 1px solid #eee;
}
.a6{
	margin-left: 0.05rem;
}
.a8{
	margin-top: 0.05rem;
}
.a_x{
	margin-top: 0.5rem;
}
.a_r{
	margin-left: 0.5rem;
}
.c_top img{
	width: 16rem;
	height: 1.9rem;
}
.c2 li{
	float: left;
	margin-left: 0.4rem;
	margin-bottom: 0.4rem;
	
}
.c2 img{
	width: 7.4rem;
	height: 10.4rem;
}
.c2{
	background: #f2f2f2;
}
.ad3 img{
	width: 16rem;
	height: 3.2rem;
}
footer li{
	float: left;
	width: 3.2rem;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
}
footer .tx{	
	float: right;
	font-size: 0.6rem;
	color: #dbdbdb;
	height: 2.5rem;
	line-height: 2.6rem;		
}
.text{		
	font-size: 0.6rem;	
}
.z{
	color: #909090;
	font-size: 0.6rem;
	text-align: center;
	padding-bottom: 1.75rem;
}
