body{
	margin: 0;
	font-family: arial;
	
}
h1,h2,h3,h4,p,li,ul,dl,dt,dd{
	margin: 0;
	padding: 0;
}
i{
	font-style: normal;
}
li{
	list-style: none;
}
img{
	border: none;
	vertical-align: top;
}
a{
	text-decoration: none;
	
}
form{
	padding: 0;
	margin:0;
}
input{
	padding:0;
	margin:0;
	border: none;
}
dl,dd,dt{
	margin: 0;
	padding: 0;
}
