header{
	border: none;
	background: #0669ad;
}
header nav{
	display: none;
}
.content{
	border-top: none;
}
.menu{
	display: none;
}
.xiala{
	width: 100%;
	display:block ;
}
.s_list{
	width: 100%;	
}
