.nav_l{
	display: none;
}
.nav_r{
	float: none;
	padding-left: 20px;
}
.logo h2,.l_r{
	float: none;
	padding: 0;
	
}
.tx a{
	padding-right: 0;
}
.logo h2 a,.l_r a{
	margin: 0 auto;
	
}
.button {
	background: url(../img/seach2.jpg);
}
.m_nav{
	border: none;
	box-shadow: none;
	border-radius: 0;
	background: #0669ad;
}
.menu,.search{
	float: none;
	width: 100%;
}
.menu li a{
	font-size: 10px;
	padding: 0 6px 4px 0;
}
.search .s1{
	width: 100%;
	
}
.xiala{
	display:none ;
}
.menu li a:hover{
	border-radius: 0px;
	border: 1px solid #0669ad;
	box-shadow: none;
}
.search{
	margin-bottom: 15px;
}
.img li img{
	width: 100%;
}
.c_r{
	width: 100%;
}
.ad img{
	max-width: 277px;
}
.b_con li{
	float: none;
	width: 100%;
	margin: 0 auto;
}
